<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seite mit ChatGPT</title>
  <style>
    body {
  margin: 0 auto; /* Optional: zentriert das Element horizontal */
}
</style>
</head>

<body>
  <div class="container pt-5 pb-5">
      {{{body}}} <!-- alles was in home steht wird wird im main.hbs gerendert -->
  </div>
</body>

</html>