 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My App</title>
    <link rel="stylesheet" type="text/css" href="../css/admin.css">
  </head>
  <body>
        <nav class="navbar">
        <ul>
            <li><a href="/admin">Home</a></li>
            <li><a href="/adminstunden">Stunden</a></li>
            <li><a href="/adminkunden">Kunden</a></li>
            <li><a href="/adminmitarbeiter">Mitarbeiter</a></li>
            <li><a href="/admintermine">Termine</a></li>
            <li><a href="/adminpost">Post</a></li>
            <li><a href="/adminwerkzeug">Werkzeug</a></li>
            <li><a href="/adminmaterial">Material</a></li>
            <li><a href="/adminfahrzeuge">Fahrzeuge</a></li>
            <li><a href="/adminschluessel">Schlüssel</a></li>
            <li><a href="/adminschule">Schule</a></li>
            <li><a href="/lieferanten">Lieferanten</a></li>
            <li  class="ausgewählt"><a href="/backup">Backup</a></li>
        </ul>
        </nav>  
        <div class="btncontainer">
            <form  method="POST" action="/backupstunden">
                <div class="backupbtn">
                    <button type="submit">Stunden Backup</button>
                </div>
            </form>
            <form  method="POST" action="/backupkunden">
                <div class="backupbtn">
                    <button type="submit">Kunden Backup</button>
                </div>
            </form>    
            <form  method="POST" action="/backuparbeiten">
                <div class="backupbtn">
                    <button type="submit">Arbeiten Backup</button>
                </div>
            </form>   
            <form  method="POST" action="/backupwerkzeug">
                <div class="backupbtn">
                    <button type="submit">Werkzeug Backup</button>
                </div>
            </form>   
            <form  method="POST" action="/backupwerkzeugarosa">
                <div class="backupbtn">
                    <button type="submit">Werkzeugarosa Backup</button>
                </div>
            </form>
            <form  method="POST" action="/backupwerkzeugpeist">
                <div class="backupbtn">
                    <button type="submit">Werkzeugpeist Backup</button>
                </div>
            </form>    
            <form  method="POST" action="/backupwerkzeugmitarbeiter">
                <div class="backupbtn">
                    <button type="submit">Werkzeugmitarbeiter Backup</button>
                </div>
            </form>   
            <form  method="POST" action="/backupwerkzeugkunde">
                <div class="backupbtn">
                    <button type="submit">Werkzeugkunde Backup</button>
                </div>
            </form>  
            <form  method="POST" action="/backupmaterial">
                <div class="backupbtn">
                    <button type="submit">Material Backup</button>
                </div>
            </form>   
            <form  method="POST" action="/backupmaterialarosa">
                <div class="backupbtn">
                    <button type="submit">Materialarosa Backup</button>
                </div>
            </form>  
            <form  method="POST" action="/backupmaterialpeist">
                <div class="backupbtn">
                    <button type="submit">Materialpeist Backup</button>
                </div>
            </form>  
            <form  method="POST" action="/backupfahrzeuge">
                <div class="backupbtn">
                    <button type="submit">Fahrzeuge Backup</button>
                </div>
            </form>  
            <form  method="POST" action="/backuptanken">
                <div class="backupbtn">
                    <button type="submit">Tanken Backup</button>
                </div>
            </form>   
            <form  method="POST" action="/backupschluessel">
                <div class="backupbtn">
                    <button type="submit">Schlüssel Backup</button>
                </div>
            </form>  
            <form  method="POST" action="/backupschule">
                <div class="backupbtn">
                    <button type="submit">Schule Backup</button>
                </div>
            </form> 
        </div> 
    </body>
</html>