<!DOCTYPE html>
<html lang="en">
  <head>

    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My App</title>
    <link rel="stylesheet" type="text/css" href="css/admin.css">
    <style>
     
    </style>
  </head>
  <body> 
    <nav class="navbar">
      <ul>
        <li class="ausgewählt"><a href="/admin">Home</a></li>
        <li><a href="/adminstunden">Stunden</a></li>
        <li><a href="/adminkunden">Kunden</a></li>
        <li><a href="/adminmitarbeiter">Mitarbeiter</a></li>
        <li><a href="/admintermine">Termine</a></li>
        <li><a href="/adminpost">Post</a></li>
        <li><a href="/adminwerkzeug">Werkzeug</a></li>
        <li><a href="/adminmaterial">Material</a></li>
        <li><a href="/adminfahrzeuge">Fahrzeuge</a></li>
        <li><a href="/adminschluessel">Schlüssel</a></li>
        <li><a href="/adminschule">Schule</a></li>
        <li><a href="/lieferanten">Lieferanten</a></li>
        <li><a href="/backup">Backup</a></li>
      </ul>
    </nav>
  </body>
</html>