<!DOCTYPE html>
<html lang="en">
  <head>
    <title>editwerkzeug</title>
    <link rel="stylesheet" type="text/css" href="../css/werkzeug.css">
  </head>
  <body>
     <div class="navbar">
  <a href="/werkzeuge" class="back-button">
    <img src="../images/back-arrow.png" alt="Zurück" />
  </a>
  <h1> {{rows.Name}}</h1>
  <a href="/index" class="home-button">
        <img src="../images/home-icon.png" alt="Zurück" />
      </a> 
  </div>
    <div class="container">
        {{> edit-werkzeug-form}} 
    </div>
  </body>
</html> 
 