<!DOCTYPE html>
<html lang="en">
  <head>
    <title>editmaterial</title>
   
    <link rel="stylesheet" type="text/css" href="../css/material.css">
  </head>
  <body>
     <div class="navbar">
  <a href="/material" class="back-button">
    <img src="../images/back-arrow.png" alt="Zurück" />
  </a>
  <h1>{{rows.Name}}</h1>
  </div>
    <div class="container">
        {{> edit-material-form}} 
    </div>
  </body>
</html>
 