<!DOCTYPE html>
<html lang="en">
  <head>
    <title>editfahrzeug</title>
   
    <link rel="stylesheet" type="text/css" href="../css/fahrzeug.css">
  </head>
  <body>
     <div class="navbar">
  <a href="/fahrzeuge" class="back-button">
    <img src="../images/back-arrow.png" alt="Zurück" />
  </a>
  <h1> {{rows.Name}}</h1>
  </div>
    <div class="info-container">
       <p class="titel">Autonummer:</p>
     <p class="info">{{rows.Autonummer}}</p> 
      <p class="titel">Kraftstoff:</p>
     <p class="info" >{{rows.Kraftstoff}}</p>
      <p class="titel">Marke:</p>
     <p class="info">{{rows.Marke}} </p>
    </div>
    <div class="container">
        {{> edit-fahrzeug-form}} 
    </div>
  </body>
</html>
 