<!DOCTYPE html>
<html lang="en">
  <head>

    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My App</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <style>
     
    </style>
  </head>
  <body>
    <div class="navbar">
      
      <h1>Home</h1> 
      <a href="/index" class="home-button">
        <img src="images/home-icon.png" alt="Zurück" />
      </a> 
    </div>

    <div class="icon-grid">
      <a href="/stunden">
        <img src="/images/hours-icon.png" alt="Stunden" />
        <span>Stunden</span>
      </a>
      <a href="/termine">
        <img src="/images/termine-icon.png" alt="Termine" />
        <span>Termine</span>
      </a>
      <a href="/werkzeuge">
        <img src="/images/tools-icon.png" alt="Werkzeug" />
        <span>Werkzeuge</span>
      </a>
      <a href="/material">
        <img src="/images/material-icon.png" alt="Material" />
        <span>Material</span>
      </a>
      <a href="/kunden">
        <img src="/images/customer-icon.png" alt="Kunde" />
        <span>Kunde</span>
      </a>
      <a href="/post">
        <img src="/images/post-icon.png" alt="Post" />
        <span>Post</span>
      </a>
      <a href="/fahrzeuge">
        <img src="/images/car-icon.png" alt="Schule" />
        <span>Fahrzeuge</span>
      </a>
      <a href="/schluessel">
        <img src="/images/schlüssel-icon.png" alt="Schule" />
        <span>Schlüssel</span>
      </a>
      <a href="/schule">
        <img src="/images/school-icon.png" alt="Schule" />
        <span>Schule</span>
      </a>
      <button id="scan-button">
        <img src="images/qrcode-icon.png" alt="QR Code" />
      </button>
    </div>

      <form action="/logout" method="POST">
        <button type="submit" class="logout-btn">Abmelden</button>
      </form>
    <script>
     
    </script>
  </body>
</html>