<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Fahrzeug eintragen</title>
    <link rel="stylesheet" type="text/css" href="css/qrcode.css">
  </head>
   <body>
    <button id="scan-button">
      <img src="images/qrcode-icon.png" alt="QR Code" />
    </button>
    <video id="video" style="display:none"></video>
    <canvas id="canvas"></canvas>

  </body>
</html>
