<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Fahrzeug eintragen</title>
    <link rel="stylesheet" type="text/css" href="css/qrcode.css">
  </head>
   <body>
    <button id="scan-button">
      <img src="images/qrcode-icon.png" alt="QR Code" />
    </button>
    <video id="video" style="display:none"></video>
    <canvas id="canvas"></canvas>
    <script >
      const scanButton = document.getElementById("scan-button");
const video = document.getElementById("video");
const canvas = document.getElementById("canvas");
const ctx = canvas.getContext("2d");

const constraints = {
  audio: false,
  video: {
    facingMode: "environment",
    width: { ideal: 640 },
    height: { ideal: 480 }
  }
};

function startCamera() {
  navigator.mediaDevices
    .getUserMedia(constraints)
    .then(stream => {
      video.srcObject = stream;
      video.play();
    })
    .catch(error => {
      console.error(error);
    });
}

function stopCamera() {
  const stream = video.srcObject;
  const tracks = stream.getTracks();

  tracks.forEach(track => {
    track.stop();
  });

  video.srcObject = null;
}

function scanQRCode() {
  ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
  const imageData = ctx.getImageData(0, 0, canvas.width, canvas.height);
  const code = jsQR(imageData.data, imageData.width, imageData.height);

  if (code) {
    console.log(code.data);
  } else {
    setTimeout(scanQRCode, 100);
  }
}

scanButton.addEventListener("click", () => {
  startCamera();
  video.style.display = "block";
  canvas.style.display = "none";
  scanButton.style.display = "none";
});

video.addEventListener("click", () => {
  video.style.display = "none";
  canvas.style.display = "block";
  scanQRCode();
});

canvas.addEventListener("click", () => {
  stopCamera();
  video.style.display = "none";
  canvas.style.display = "none";
  scanButton.style.display = "block";
});
    </script>
  </body>
</html>
