<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>QR Code Scan</title>
    <link rel="stylesheet" type="text/css" href="css/qrcode.css">
  </head>
  <body>

    <div class="navbar">
      <h1>QR Scan</h1>
      <a href="/index" class="home-button">
        <img src="images/home-icon.png" alt="Zurück" />
      </a>
    </div>
    <button id="scan-button">
        <img class="qrcode" src="images/qrcode-icon.png" alt="QR Code" />
        <p>QR-Code Scan</p>
    </button>
    <video id="qr-video"></video>
    <script>
      // Zugriff auf die Elemente
      const scanButton = document.getElementById("scan-button");
      const qrVideo = document.getElementById("qr-video");

      // Handler für den Klick auf den Button
      scanButton.addEventListener("click", async () => {
        try {
          // Zugriff auf die Kamera des Geräts
          const stream = await navigator.mediaDevices.getUserMedia({ video: true });
          qrVideo.srcObject = stream;
          qrVideo.play();

          // QR-Code-Scan-Logik
          const qrScanner = new QrScanner(qrVideo, result => {
            alert(`QR-Code gescannt: ${result}`);
            qrScanner.stop();
            qrVideo.pause();
            qrVideo.srcObject = null;
          });

          qrScanner.start();
        } catch (error) {
          console.error(error);
          alert("Ein Fehler ist aufgetreten beim Zugriff auf die Kamera.");
        }
      });
    </script>
  </body>

</html>