 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Schl端ssel eintragen</title>
    <link rel="stylesheet" type="text/css" href="css/schluessel.css">
  </head>
  <body>

    <div class="navbar">
      <h1>Schl端ssel</h1>
      <a href="/index" class="home-button">
        <img src="images/home-icon.png" alt="Zur端ck" />
      </a>
    </div>
    <form name="speichern-form" id="speichern-form" method="POST" action="/speicherschluessel">
        <div class="card">        
              <div class="card-body">

                  <input name="kundenvorname" id="kundenvorname" placeholder="Kundenvorname" class="notiz1" type="text"/> 
              </div>     
              <div class="card-body">

                  <input name="kundennachname" id="kundennachname" placeholder="Kundennachname" class="notiz1" type="text"/> 
              </div>     
              <div class="card-body">

                  <input name="code" id="code" placeholder="Code" class="notiz1" type="text"/> 
              </div>  
              <div class="card-body">

                  <input name="notiz" id="notiz" placeholder="Notiz" class="notiz1" type="text"/> 
              </div>      
              <div class="card-footer">
                  <input type="submit" value="Schl端ssel entgegennehmen" id="submit-btn" name="speichern" class="notiz-btn" />
              </div>
          </div>
      </form>
    <table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col" >Kundenname</th> 
            <th scope="col">#</th>
        </tr>
    </thead>
    
     <tbody>
        {{#each rows}}
        <tr>
            <td >{{this.Vorname}} {{this.Nachname}}</td>
            <td>
                <span class="icon-grid">
                    <a href="/editschluessel/{{this.Id}}" class="icon" aria-label="Bearbeiten">
                    <img src="/images/bearbeiten-icon.png" alt="Bearbeiten"> 
                    </a> 
                </span>
            </td>
        </tr>
        {{/each}}
        </tbody>
       </table>

  </body>

</html>
